.sideModal {
    height: 100%;
    width: 100vw;
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}

.sideModalVr {
    height: 100%;
    width: 2px;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #aaa;
    right: 350px;
}

.sideModalContent {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #d0d6f5;
    overflow-y: scroll;
}
