.sideNavVr {
    height: 100%;
    width: 2px;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #aaa;
    right: 7.5rem;
}

.sideNav {
    height: 100%;
    width: 7.5rem;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #d0d6f5;
    padding-top: 20px;
}

@media only screen and (max-width: 768px) {
    .sideNav, .sideNavVr {
        display: none;
    }
}
